{% extends 'controller/base.html' %}

{% block hosts_list %}
    <div class="col-md-12">
        <div class="page-header main">
            <h1>{{ title }}</h1>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="filterable">
            <div class="row form-group">
                <div class="col-md-2">
                    <button class="btn btn-primary btn-filter btn-block"><span
                            class="glyphicon glyphicon-filter"></span> Filter
                    </button>
                </div>
            </div>
            <form action="{% url 'controller:task_multidelete' %}" method="post" role="form">
                {% csrf_token %}
                <table class="table table-hover table-bordered" style="margin: 1em 0em;">
                    <thead>
                    <tr class="filters">
                        <th style="width: 5%;vertical-align: middle;"><input type="text" class="form-control"
                                                                             placeholder="#" disabled></th>
                        <th style="vertical-align: middle;"><input type="text" class="form-control" placeholder="Name"
                                                                   disabled></th>
                        <th style="width: 13%; vertical-align: middle;"><input type="text" class="form-control"
                                                                               placeholder="Timestamp"
                                                                               disabled></th>
                        <th style="width: 15%; vertical-align: middle;"><input type="text" class="form-control"
                                                                               placeholder="Module"
                                                                               disabled></th>
                        <th style="width: 15%; vertical-align: middle;"><input type="text" class="form-control"
                                                                               placeholder="Worker"
                                                                               disabled></th>
                        <th style="width: 9%; vertical-align: middle;"><input type="text" class="form-control"
                                                                              placeholder="Status"
                                                                              disabled></th>
                        <th style="width: 20%; vertical-align: middle;"><input type="text" class="form-control"
                                                                               placeholder="Results"
                                                                               disabled></th>
                        <th style="width: 6%; vertical-align: middle; text-align:center;">Action</th>
                    </tr>
                    </thead>
                    {% for task in tasks %}
                        <tbody>
                        <tr>
                            <td style="vertical-align: middle;">
                                {{ forloop.counter }}
                            </td>
                            <td style="vertical-align: middle;">
                                <a href="{% url 'controller:task_show' task.id %}">{{ task.name }}</a>
                            </td>
                            <td style="vertical-align: middle;">
                                {{ task.timestamp }}
                            </td>
                            <td style="vertical-align: middle;">
                                {{ task.module }}
                            </td>
                            <td style="vertical-align: middle;">
                                {{ task.worker }}
                            </td>
                            <td style="vertical-align: middle;">
                                {{ task.status }}
                            </td>
                            <td style="vertical-align: middle;">
                                {{ task.results | linebreaksbr }}
                            </td>
                            <td style="vertical-align: middle; text-align:center;">
                                <a href="{% url 'controller:task_delete' task.id %}" style="text-decoration:none;"
                                   onclick="return confirm('Are you sure you want to delete {{ task.name }} ?')">
                            <span style="font-size: 1.5em;" title="Delete task" class="glyphicon glyphicon glyphicon-ok"
                                  aria-hidden="true"></span>
                                </a>
                                <input style="margin: 5px;" type="checkbox" name="to_delete[]" value="{{ task.id }}">
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <label>Select all: <input type="checkbox" id="selectall" onClick="selectAll(this)"></label>
                        <button class="btn btn-success btn-filter btn-block"
                                type="submit"><span
                                class="glyphicon glyphicon glyphicon-remove"></span> Delete selected
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% load static %}
    <script src="{% static 'controller/js/table_search.js' %}"></script>
    <script src="{% static 'controller/js/select_all.js' %}"></script>

{% endblock %}